body {
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
}

header, section, footer {
  padding-block: 2rem;
}

div[class^="container-"] > * + *, div[class^="text-"] > * + * {
  margin-block-start: 1rem;
}

div[class^="container-"] {
  max-inline-size: min(1280px, 100vw - 2rem);
  margin-inline: auto;
}

footer {
  margin-block-start: auto;
}

p {
  max-inline-size: 65ch;
}

.grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 30ch), 1fr))
}