body, div[class^="text-"], div[class^="container-"] {
  display: flex;
  flex-direction: column;
}

div[class^="text-"], div[class^="container-"] {
  align-items: start;
}

body {
  min-block-size: 100vh;
}

header, section, footer {
  padding-block: 2rem;
}

div[class^="container-"] {
  max-inline-size: min(1280px, 100vw - 2rem);
  margin-inline: auto;
  gap: 1rem;
}

footer {
  margin-block-start: auto;
}

div[class^="text-"] {
  gap: 1rem;
}

p {
  max-inline-size: 65ch;
}